# Compiled CUDA binaries
cuda-learn/kernels/**/relu
cuda-learn/kernels/**/test_relu
cuda-learn/kernels/**/vector_add
cuda-learn/kernels/**/vector_sub
cuda-learn/kernels/**/*.o

# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/

# OS
.DS_Store
*.deb
